<div class="section-info">
    <div>
        <img src="../../../../assets/images/info.png">
    </div>
    <div class="info-headline">
        <h3>Assista do seu jeito</h3>
        <div class="info-span">
            <span>Aproveite a tela grande da TV ou assista no tablet, laptop, celular e outros aparelhos.
                Nossa seleção de títulos em 4K não para de crescer.
                Além disso, para a felicidade de todos, é possível assistir em até 4 telas ao mesmo tempo.</span>
        </div>
    </div>
</div>


<div class="section-download">
    <div class="download-headline">
        <h3>Baixe filmes e séries</h3>
        <div class="download-span">
            <span>Baixe e assista quando e onde quiser. Assim, seus favoritos estão sempre com você, até mesmo sem
                internet.</span>
        </div>
    </div>


</div>

<div class="dispositivo-section">
    <div class="dispositivo-card">
        <img src="../../../../assets/icones/computador.png">
        <h3>Computador</h3>
        <span>Chrome OS
            MacOS<br>
            PC Windows</span>
    </div>
    <div class="dispositivo-card">
        <img src="../../../../assets/icones/tv.png">
        <h3>TV</h3>
        <span>Amazon Fire TV<br>
            Android TV<br>
            Apple TV<br>
            Chromecast<br>
            TVs LG<br>
            Roku<br>
            Samsung</span>
    </div>
    <div class="dispositivo-card">
        <img src="../../../../assets/icones/videogame.png">
        <h3>Video Games</h3>
        <span>PS4
            PS5
            Xbox One
            Xbox Series X
            Xbox Series S</span>
    </div>
    <div class="dispositivo-card">
        <img src="../../../../assets/icones/celular.png">
        <h3>Celulares e tablets</h3>
        <span>Tablets Amazon Fire<br>
            Celulares e Tablets Android<br>
            iPhone e iPad</span>
    </div>
</div>


<div class="perguntas">
    <h2>Perguntas Frequentes</h2>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            O que está incluído no Disney+?
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="accordion-child">
        <p><span class="medium">O Disney+ oferece:</span></p>
        <p><span class="medium">• Experiência premium sem intervalos comerciais.</span></p>
        <p><span class="medium">• As melhores histórias da Disney, Pixar, Marvel, Star Wars e National Geographic, tudo
                em um só lugar.</span></p>
        <p><span class="medium">• Groupwatch: assista junto com amigos ou familiares, mesmo separados.</span></p>
        <p><span class="medium">• Downloads ilimitados em até 10 dispositivos compatíveis.</span></p>
        <p><span class="medium">• Mais de 300 títulos em 4K UHD e HDR.</span></p>
        <p><span class="medium">• A possibilidade de assistir em até 4 dispositivos compatíveis simultaneamente sem
                custo adicional.</span></p>
        <p><span class="medium">• IMAX Enhanced: disponível para alguns títulos da Marvel em dispositivos compatíveis
                com o Disney+.</span></p>
    </div>
</mat-expansion-panel>







<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Já tem o Disney+ ou o Star+ e quer o Combo+?
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p><span class="medium">Ao assinar o Combo+:</span></p>
    <p><span>•</span><span class="medium"> O valor da sua assinatura existente (anual ou mensal) será descontado do
            preço do Combo+.</span></p>
    <p><span>•</span><span class="medium"> Se você assina o plano mensal, o valor que você paga mensalmente será
            descontado do preço do Combo+.</span></p>
    <p><span>•</span><span class="medium"> Se você assina o plano anual, dividiremos o valor que você já pagou em 12
            vezes e descontaremos esse valor do preço do Combo+ mensalmente.</span></p>
    <p><span>•</span><span class="medium"> Você vai receber um e-mail com os valores detalhados assim que finalizar o
            pagamento.</span></p>
    <p><span>•</span><span class="medium"> Lembre-se: você pode cancelar a assinatura quando quiser.</span></p>
    <p><span class="medium">No momento, apenas a assinatura mensal do Combo+ está disponível.</span></p>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Quais formas de pagamento posso utilizar?
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p><span>Você pode utilizar: cartão de débito, cartão de crédito, PayPal, Mercado Pago, e também empresas parceiras
            como Google Play Store, App Store da Apple; Mercado Livre e provedores locais de TV, telefonia e
            internet.</span></p>

</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Como posso ver conteúdo com classificação indicativa até 16 e 18?
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p><span>Para poder acessar o catálogo completo que inclui conteúdo com classificação indicativa até 16 e 18, todos
            os usuários do Disney+ na América Latina devem atualizar as configurações de controle parental do perfil. É
            possível restringir o conteúdo de cada perfil e também adicionar um PIN de bloqueio. Os usuários que
            preferirem manter a configuração atual vão continuar aproveitando o Disney+ com a classificação indicativa
            até 14, podendo alterá-la a qualquer momento em "Editar Perfis".</span></p>

</mat-expansion-panel>
</div>