<div class="footer">
    <div class="footer-logo">
        <img src="https://cnbl-cdn.bamgrid.com/assets/7ecc8bcb60ad77193058d63e321bd21cbac2fc67281dbd9927676ea4a4c83594/original"
            alt="logo">
    </div>

    <div class="footer-nav">
        <ul class="nav">
            <li class="nav-language">
                <select class="fine">
                    <option value="/en-br/">English</option>
                    <option selected="" value="/pt-br/">Português</option>
                </select>

                <svg class="down" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <rect width="48" height="48" fill="none"></rect>
                </svg>
            </li>
            <li class="nav-content">Termos e Condições de Uso</li>
            <li class="nav-content">Política de privacidade</li>
            <li class="nav-content">Proteção de Dados no Brasil</li>
            <li class="nav-content">Anúncios personalizados</li>
            <li class="nav-content">Dispositivos compatíveis</li>

        </ul>
    </div>

    <div class="copyright">
        <span>® 2022 Disney, Disney+ e The Walt Disney Company. Todos os direitos reservados. Serviço de assinatura
            paga. Conteúdo sujeito a disponibilidade.</span>

        <div class="autor"><span>Site desenvolvido por Hermeson Costta para fins de estudos. Todos os direitos reservados à
                Disney</span></div> 
        </div>

    </div>