<div class="espacing"></div>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="EM BREVE" >
        <div class="filme-secao"><img src="../../../../assets/images/filme6.jpg">
            <img src="../../../../assets/images/filme5.jpg">
            <img src="../../../../assets/images/filme4.jpg">
        </div>

        <div class="filme-secao2"><img src="../../../../assets/images/filme3.jpg">
            <img src="../../../../assets/images/filme2.jpg">
            <img src="../../../../assets/images/filme1.jpg">
        </div>
    </mat-tab>
    <mat-tab label="MAIS POPULARES">
        <div class="filme-secao"><img src="../../../../assets/images/original (12).jpg">
            <img src="../../../../assets/images/original (11).jpg">
            <img src="../../../../assets/images/original (10).jpg">
        </div>

        <div class="filme-secao2"><img src="../../../../assets/images/original (9).jpg">
            <img src="../../../../assets/images/original (7).jpg">
            <img src="../../../../assets/images/original (8).jpg">
        </div>
    </mat-tab>
    <mat-tab label="MAIS NO STAR+">
        <div class="filme-secao"><img src="../../../../assets/images/star(6).jpg">
            <img src="../../../../assets/images/star(5).jpg">
            <img src="../../../../assets/images/star(4).jpg">
        </div>

        <div class="filme-secao2"><img src="../../../../assets/images/star(3).jpg">
            <img src="../../../../assets/images/star(2).jpg">
            <img src="../../../../assets/images/star(1).jpg">
        </div>
    </mat-tab>
</mat-tab-group>