<div class="planos"><h2>Escolha o seu plano</h2></div>

<div class="cards">
    <div class="card-section">
        <img src="../../../../assets/images/cards/logo card.png">
        <h3>R$ 27,90/mês*</h3>
        <p>No Disney+ você encontra as últimas estreias do cinema, originais e clássicos inesquecíveis.</p>
        <button>ASSINE AGORA</button>
    </div>
    <div class="card-section card-combo">
        <span>MAIS POPULAR</span>
        <img src="../../../../assets/images/cards/plano2.png">
        <h3>R$ 45,90/mês*</h3>
        <p>Assine Disney+ e Star+ juntos. Economize e aproveite agora os dois serviços por um preço único.</p>
        <button>ASSINE AGORA</button>
    </div>
    <div class="card-section card3">
        <img src="../../../../assets/images/cards/plano1.png">
        <h3>R$ 55,90/mês*</h3>
        <p>Disney+, Star+ e STARZPLAY em um plano especial. Assine agora os três serviços juntos.</p>
        <button>ASSINE AGORA</button>
    </div>
   
</div>

<div class="aviso"><p>*O preço pode variar caso a assinatura seja feita através de outras plataformas.</p></div>