<header>
    <div class="logo">
        <img
            src="https://cnbl-cdn.bamgrid.com/assets/7ecc8bcb60ad77193058d63e321bd21cbac2fc67281dbd9927676ea4a4c83594/original">
    </div>

    <ul class="nav">
        <li class="nav-content">ENTRAR</li>
    </ul>
    
</header>


<div class="home">
    <div class="headline">
        <h2>As melhores histórias em um só lugar.</h2>
    </div>
    <div class="logo"><img
            src="https://cnbl-cdn.bamgrid.com/assets/7ecc8bcb60ad77193058d63e321bd21cbac2fc67281dbd9927676ea4a4c83594/original">
    </div>
    <div class="cta-button"> <button>ESCOLHA O SEU PLANO</button></div>

</div>